/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_checkout.sass */
.checkoutContainer {
  max-width: 780px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 65px;
  display: flex;
}

/* line 7, ../sass/_checkout.sass */
form {
  width: 100%;
}

/* line 9, ../sass/_checkout.sass */
.formArea {
  background-color: #3F5D45;
  padding: 40px;
  box-sizing: border-box;
}
/* line 13, ../sass/_checkout.sass */
.formArea .formTitle {
  display: flex;
}
/* line 15, ../sass/_checkout.sass */
.formArea .formTitle .formNowPage {
  font-size: 36px;
  font-weight: 700;
  width: 100%;
  color: #fff;
  margin-bottom: 30px;
}

/* line 21, ../sass/_checkout.sass */
.progressBar {
  height: 36px;
  line-height: 36px;
  width: 100%;
}
/* line 25, ../sass/_checkout.sass */
.progressBar .progressLine {
  width: 100%;
  border-bottom: 1px solid #8DA291;
}
/* line 28, ../sass/_checkout.sass */
.progressBar .lineChecked {
  border-bottom: 1px solid #F8F9Fa;
}
/* line 30, ../sass/_checkout.sass */
.progressBar .cricle {
  border-radius: 50%;
  border: 1px solid #8DA291;
}
/* line 33, ../sass/_checkout.sass */
.progressBar .cricle {
  width: 20px;
  height: 20px;
  border-radius: nonepx;
  min-width: 20px;
  justify-content: center;
  color: #F8F9Fa;
}
/* line 38, ../sass/_checkout.sass */
.progressBar .criclePoint {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border-radius: nonepx;
  box-sizing: border-box;
  background-color: #F8F9Fa;
  line-height: 14px;
}
/* line 44, ../sass/_checkout.sass */
.progressBar .cricleChecked {
  background-color: #3F5D45;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 50, ../sass/_checkout.sass */
.progressBar .cricleOnPage {
  border: 1px solid #F8F9Fa;
}
/* line 53, ../sass/_checkout.sass */
.progressBar a i {
  color: #fff;
  font-size: 22px;
}

/* line 57, ../sass/_checkout.sass */
.formContent label {
  display: block;
  width: 100%;
  padding: 0 4px;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  vertical-align: middle;
}
/* line 67, ../sass/_checkout.sass */
.formContent input, .formContent select {
  height: 60px;
  width: 100%;
  border: 4px solid #3F5D45;
  box-sizing: border-box;
  outline: none;
  padding-left: 20px;
  font-size: 20px;
  background-color: #EAF0ED;
  color: #8DA291;
  font-size: 16px;
  font-family: Microsoft JhengHei;
}
/* line 79, ../sass/_checkout.sass */
.formContent .formItem {
  width: 100%;
}
/* line 81, ../sass/_checkout.sass */
.formContent .formItem #cardId {
  border-right: none;
}
/* line 83, ../sass/_checkout.sass */
.formContent .formItem .cardIdIcon {
  width: 60px;
  height: 60px;
  border-radius: nonepx;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAF0ED;
  border: 4px solid #3F5D45;
  border-left: none;
  box-sizing: border-box;
}
/* line 92, ../sass/_checkout.sass */
.formContent .padding-b {
  margin-bottom: 30px;
  border: 4px solid #3F5D45;
}

/* line 96, ../sass/_checkout.sass */
.formSubmit {
  width: 100%;
  height: 65px;
  background-color: #FFE180;
  font-size: 24px;
  color: #3F5D45;
  font-family: Microsoft JhengHei;
  font-weight: 700;
  transition: 0.3s;
  border: none;
}
/* line 106, ../sass/_checkout.sass */
.formSubmit:hover {
  background-color: #ffd430;
  transform: scale(1.03, 1.03);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
/* line 110, ../sass/_checkout.sass */
.formSubmit:active {
  transform: scale(1, 1);
}

/* line 113, ../sass/_checkout.sass */
.orderInf {
  margin-left: 20px;
}
/* line 116, ../sass/_checkout.sass */
.orderInf .orderSummary .orderInfTitle, .orderInf .shoppingList .orderInfTitle {
  width: 300px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  background-color: #EAF0ED;
}
/* line 124, ../sass/_checkout.sass */
.orderInf .orderSummary .orderInfcard, .orderInf .shoppingList .orderInfcard {
  padding: 16px;
  border: 1px solid #EAF0ED;
}
/* line 127, ../sass/_checkout.sass */
.orderInf .orderSummary .orderInfcard .orderInfText, .orderInf .shoppingList .orderInfcard .orderInfText {
  line-height: 20px;
}
/* line 129, ../sass/_checkout.sass */
.orderInf .orderSummary .orderInfcard .total, .orderInf .shoppingList .orderInfcard .total {
  font-size: 20px;
  font-weight: 700;
  padding-top: 16px;
}
/* line 133, ../sass/_checkout.sass */
.orderInf .shoppingList {
  margin-top: 20px;
}
/* line 135, ../sass/_checkout.sass */
.orderInf .shoppingList .shoppingItem_mid {
  padding: 16px 0;
}
/* line 138, ../sass/_checkout.sass */
.orderInf .shoppingList .shoppingItem .shoppingItemPic {
  width: 120px;
  height: 80px;
  margin-right: 16px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 143, ../sass/_checkout.sass */
.orderInf .shoppingList .shoppingItem .shoppingItemPic_1 {
  background-image: url(../../img/x_6.jpg);
}
/* line 145, ../sass/_checkout.sass */
.orderInf .shoppingList .shoppingItem .shoppingItemPic_2 {
  background-image: url(../../img/home_product_2.jpg);
}
/* line 147, ../sass/_checkout.sass */
.orderInf .shoppingList .shoppingItem .shoppingItemPic_3 {
  background-image: url(../../img/cart_3.jpg);
}
/* line 151, ../sass/_checkout.sass */
.orderInf .shoppingList .shoppingItem .shoppingItemInf .shoppingItemName {
  font-size: 16px;
}
/* line 153, ../sass/_checkout.sass */
.orderInf .shoppingList .shoppingItem .shoppingItemMoney {
  text-align: center;
  font-weight: 700;
  padding: 8px;
}

/* line 157, ../sass/_checkout.sass */
.pInvoiceCheckbox {
  text-align: right;
  box-sizing: border-box;
  margin-right: 4px;
  display: flex;
  height: 40px;
  align-items: center;
  font-size: 16px !important;
}
/* line 165, ../sass/_checkout.sass */
.pInvoiceCheckbox input[type="checkbox"] {
  width: 16px !important;
  height: 16px !important;
}

/* line 168, ../sass/_checkout.sass */
.invoiceInput1, .invoiceInput2 {
  display: none;
}

/* line 171, ../sass/_checkout.sass */
#eInvoice:checked .eInvoice {
  background-color: #fff;
}

/* line 174, ../sass/_checkout.sass */
#pInvoice:checked .pInvoice {
  background-color: #fff;
}

/* line 176, ../sass/_checkout.sass */
.invoiceInput1:checked ~ .switchBar > .eInvoice, .invoiceInput2:checked ~ .switchBar > .pInvoice {
  background-color: #fff;
  color: #3F5D45;
}

/* line 179, ../sass/_checkout.sass */
.invoiceInput1:checked ~ div.checkForShow1, .invoiceInput2:checked ~ .checkForShow2 {
  display: block;
  width: 100%;
}

/* line 182, ../sass/_checkout.sass */
.eInvoice, .pInvoice {
  text-align: center;
  padding: 8px !important;
  line-height: 56px;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  border: 1px solid #fff;
  margin-bottom: 30px;
  font-weight: 700;
  transition: 0.3s;
}
/* line 193, ../sass/_checkout.sass */
.eInvoice:hover, .pInvoice:hover {
  background-color: #8DA291;
}

/* line 195, ../sass/_checkout.sass */
.checkForShow1, .checkForShow2 {
  display: none;
}

/* line 201, ../sass/_checkout.sass */
.sucPage .jumbotron {
  background-image: url(../../img/checkout.jpg);
}
/* line 203, ../sass/_checkout.sass */
.sucPage .jumbotron .progressBar {
  width: 180px;
  background-color: transparent;
}
/* line 206, ../sass/_checkout.sass */
.sucPage .jumbotron .progressBar .progressLine {
  border-bottom: 1px solid #3F5D45;
}
/* line 208, ../sass/_checkout.sass */
.sucPage .jumbotron .progressBar > .cricle {
  border-radius: 50px;
  color: #3F5D45;
  justify-content: center;
  border: none;
}
/* line 213, ../sass/_checkout.sass */
.sucPage .jumbotron .progressBar > .cricle .criclePoint {
  background-color: transparent;
}
/* line 215, ../sass/_checkout.sass */
.sucPage .jumbotron .continueShopping {
  max-width: 300px;
}
/* line 217, ../sass/_checkout.sass */
.sucPage .jumbotron .paySuc {
  min-height: 45px;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 50px;
  background-image: url(../../img/icon/l_pay.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

/* line 225, ../sass/_checkout.sass */
.rwd-d-show {
  display: block;
}

/* line 227, ../sass/_checkout.sass */
.rwd-d-none {
  display: none !important;
  max-width: 480px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  /* line 234, ../sass/_checkout.sass */
  .orderInf {
    display: none;
  }

  /* line 236, ../sass/_checkout.sass */
  .formArea {
    padding: 5%;
  }

  /* line 238, ../sass/_checkout.sass */
  .checkoutContainer {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 680px) {
  /* line 241, ../sass/_checkout.sass */
  .formArea {
    padding: 30px !important;
  }

  /* line 244, ../sass/_checkout.sass */
  .sucPage .jumbotron {
    margin-bottom: 0 !important;
    height: 520px !important;
  }
}
@media screen and (max-width: 480px) {
  /* line 248, ../sass/_checkout.sass */
  .rwd-d-show {
    display: none !important;
  }

  /* line 250, ../sass/_checkout.sass */
  .rwd-d-none {
    display: block !important;
  }

  /* line 252, ../sass/_checkout.sass */
  .formArea {
    padding: 20px !important;
  }
}
/* line 3, ../sass/_login.sass */
.loginContainer {
  max-width: 780px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* line 9, ../sass/_login.sass */
.loginContainer .loginForm .formArea {
  padding: 30px;
  padding-bottom: 0;
  height: 315px;
}
/* line 13, ../sass/_login.sass */
.loginContainer .loginForm .formArea .loginTitle {
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
  justify-content: center;
  height: 100px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
/* line 22, ../sass/_login.sass */
.loginContainer .loginForm .formArea .formItem {
  justify-content: space-between;
  width: 100% !important;
  display: flex;
  margin-bottom: 8px;
  box-sizing: border-box;
}
/* line 29, ../sass/_login.sass */
.loginContainer .loginForm .formArea .formItem .inputIcon {
  border: 4px solid #3F5D45;
  border-right: 0;
  background-color: #EAF0ED;
  height: 60px;
  color: #3F5D45;
}
/* line 35, ../sass/_login.sass */
.loginContainer .loginForm .formArea .formItem .loginInputLabel {
  display: flex !important;
}
/* line 37, ../sass/_login.sass */
.loginContainer .loginForm .formArea .formItem .loginInputLabel > input {
  width: 100% !important;
  padding: 0;
}
/* line 40, ../sass/_login.sass */
.loginContainer .loginForm .formArea .remember {
  font-size: 16px;
}
/* line 42, ../sass/_login.sass */
.loginContainer .loginForm .formArea input[type="text"] {
  border-left: 0;
  min-width: 250px;
}
/* line 45, ../sass/_login.sass */
.loginContainer .loginForm .formArea input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border-radius: nonepx;
}

/* line 47, ../sass/_login.sass */
.communityform {
  height: 350px;
  background-color: #EAF0ED;
  color: #8DA291;
}
/* line 51, ../sass/_login.sass */
.communityform .communityAccount {
  padding: 40px 30px;
  justify-content: center;
  margin: auto;
}
/* line 55, ../sass/_login.sass */
.communityform .communityAccount .communitTitle {
  font-size: 24px;
  text-align: center;
  padding-bottom: 32px;
}

/* line 60, ../sass/_login.sass */
.communitItem {
  background-color: #fff;
  height: 56px;
  min-width: 320px;
  margin-bottom: 16px;
  transition: 0.3s;
  cursor: pointer;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 68, ../sass/_login.sass */
.communitItem:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #3F5D45;
  transform: scale(1.05, 1.05);
}

/* line 72, ../sass/_login.sass */
.hideCommunityBar {
  display: none !important;
}

/* line 74, ../sass/_login.sass */
.md-communitBox {
  min-width: 0;
  width: 100%;
  display: block;
}

/* line 78, ../sass/_login.sass */
.communitItem_1 {
  background-image: url(../../img/icon/ic-facebook-logotype.svg);
  background-size: auto 20px;
}

/* line 82, ../sass/_login.sass */
.communitItem_2 {
  background-image: url(../../img/icon/ic-google.svg);
  background-size: auto 32px;
}

/* line 85, ../sass/_login.sass */
.communitItem_3 {
  background-image: url(../../img/icon/ic-yahoo.svg);
  background-size: auto 24px;
}

@media screen and (max-width: 768px) {
  /* line 91, ../sass/_login.sass */
  .hideCommunityBar {
    display: block !important;
  }

  /* line 93, ../sass/_login.sass */
  .loginContainer {
    margin-bottom: 0;
  }

  /* line 96, ../sass/_login.sass */
  .loginContainer .formArea {
    height: auto !important;
    padding: 30px 0 10px 0 !important;
  }
  /* line 99, ../sass/_login.sass */
  .loginContainer .formItem {
    padding: 0 30px;
  }
  /* line 101, ../sass/_login.sass */
  .loginContainer .formItem:first-child {
    padding: 30px;
    background-color: #EAF0ED;
    height: 116px;
    margin-bottom: 28px !important;
  }
  /* line 106, ../sass/_login.sass */
  .loginContainer .formItem:first-child .communityBar {
    width: 100% !important;
  }
  /* line 108, ../sass/_login.sass */
  .loginContainer .formItem:first-child .communityBar .md-communitBox {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #EAF0ED;
  }

  /* line 113, ../sass/_login.sass */
  .communityform {
    display: none;
  }

  /* line 115, ../sass/_login.sass */
  .loginForm {
    max-width: 100%;
    width: 100% !important;
  }
  /* line 118, ../sass/_login.sass */
  .loginForm .formContent {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  /* line 121, ../sass/_login.sass */
  .communitItem_1 {
    background-size: auto 18px;
  }

  /* line 123, ../sass/_login.sass */
  .communitItem_2 {
    background-size: auto 24px;
  }

  /* line 125, ../sass/_login.sass */
  .communitItem_3 {
    background-size: auto 20px;
  }
}
@media screen and (max-width: 480px) {
  /* line 128, ../sass/_login.sass */
  .communitItem_1 {
    background-size: auto 14px;
  }

  /* line 130, ../sass/_login.sass */
  .communitItem_2 {
    background-size: auto 20px;
  }

  /* line 132, ../sass/_login.sass */
  .communitItem_3 {
    background-size: auto 16px;
  }

  /* line 135, ../sass/_login.sass */
  .formItem input[type="text"] {
    min-width: 0 !important;
  }
}
/* line 2, ../sass/_cart.sass */
.cartContent {
  margin-top: 30px;
  padding-bottom: 30px;
  margin-bottom: auto;
}
/* line 6, ../sass/_cart.sass */
.cartContent .cartTitle {
  height: 65px;
  line-height: 65px;
}

/* line 9, ../sass/_cart.sass */
.cartTitle, .orderListTitle {
  color: #3F5D45;
  background-color: #EAF0ED;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

/* line 16, ../sass/_cart.sass */
.cartItem {
  box-sizing: border-box;
  width: 100%;
  min-height: 130px;
  padding-bottom: 20px;
  font-size: 20px;
}
/* line 22, ../sass/_cart.sass */
.cartItem .cartItemPic {
  width: 110px;
  height: 110px;
  border-radius: nonepx;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 25, ../sass/_cart.sass */
.cartItem .cartItemPic_1 {
  background-image: url(../../img/x_6.jpg);
}
/* line 27, ../sass/_cart.sass */
.cartItem .cartItemPic_2 {
  background-image: url(../../img/home_product_2.jpg);
}
/* line 29, ../sass/_cart.sass */
.cartItem .cartItemPic_3 {
  background-image: url(../../img/cart_3.jpg);
}
/* line 32, ../sass/_cart.sass */
.cartItem .cartItemName .cartItemNameUnitPrice {
  text-align: center;
}
/* line 34, ../sass/_cart.sass */
.cartItem .cartItemCountBar {
  display: flex;
}
/* line 36, ../sass/_cart.sass */
.cartItem .cartItemCountBar .cartItemBox {
  width: 48px;
  height: 48px;
  border-radius: nonepx;
  line-height: 48px;
  text-align: center;
  border: 1px solid #EAF0ED;
}
/* line 41, ../sass/_cart.sass */
.cartItem .cartItemCountBar .cartItemCountAdd, .cartItem .cartItemCountBar .cartItemCountDecrease {
  cursor: pointer;
  transition: 0.3s;
}
/* line 44, ../sass/_cart.sass */
.cartItem .cartItemCountBar .cartItemCountAdd:hover, .cartItem .cartItemCountBar .cartItemCountDecrease:hover {
  background-color: #F8F9Fa;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
/* line 47, ../sass/_cart.sass */
.cartItem .cartItemMoney {
  font-weight: 700;
}
/* line 49, ../sass/_cart.sass */
.cartItem .cartItemDelete {
  color: #8DA291;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
/* line 54, ../sass/_cart.sass */
.cartItem .cartItemDelete:hover {
  color: #FFE180;
  transform: scale(1.5, 1.5);
}

/* line 61, ../sass/_cart.sass */
.orderContainer .formSubmit {
  margin-bottom: 240px;
}

/* line 64, ../sass/_cart.sass */
.orderContent {
  width: 300px;
  background-color: #3F5D45;
  color: #EAF0ED;
  padding: 20px 0 4px 0;
  box-sizing: border-box;
}
/* line 70, ../sass/_cart.sass */
.orderContent .orderInfcard {
  border: none !important;
  border-top: 1px solid #EAF0ED;
}
/* line 73, ../sass/_cart.sass */
.orderContent .orderListTitle {
  box-sizing: border-box;
  background-color: transparent;
  color: #EAF0ED;
  padding-bottom: 20px;
  margin: 0 20px;
  border-bottom: 1px solid #EAF0ED;
}

/* line 80, ../sass/_cart.sass */
.formSubmit {
  display: block;
  text-decoration: none;
  width: 100%;
  line-height: 65px;
  text-align: center;
  cursor: pointer;
}

/* line 87, ../sass/_cart.sass */
.cart-d-block {
  display: none !important;
}

@media screen and (max-width: 992px) {
  /* line 91, ../sass/_cart.sass */
  .cartPage {
    flex-direction: column;
    padding: 0 !important;
  }
  /* line 94, ../sass/_cart.sass */
  .cartPage .cartContent {
    margin-top: 0;
  }
  /* line 96, ../sass/_cart.sass */
  .cartPage .cartContent .cartItem {
    padding: 0 30px 15px 30px;
  }

  /* line 98, ../sass/_cart.sass */
  .orderContainer {
    margin: 0;
    width: 100%;
  }
  /* line 101, ../sass/_cart.sass */
  .orderContainer .orderSummary {
    width: 100%;
  }
  /* line 103, ../sass/_cart.sass */
  .orderContainer .formSubmit {
    margin: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 108, ../sass/_cart.sass */
  .cartItemPic {
    width: 160px !important;
  }

  /* line 110, ../sass/_cart.sass */
  .moneyHideToggle {
    min-width: 120px;
  }

  /* line 112, ../sass/_cart.sass */
  .md-flexSet {
    max-width: 45% !important;
  }
  /* line 114, ../sass/_cart.sass */
  .md-flexSet .cartItem {
    padding: 30px;
  }
}
@media screen and (max-width: 680px) {
  /* line 117, ../sass/_cart.sass */
  .md-flexSet {
    flex-direction: column;
    flex-wrap: wrap;
  }
  /* line 120, ../sass/_cart.sass */
  .md-flexSet .cartItemCountBar {
    margin-top: 8px;
  }

  /* line 122, ../sass/_cart.sass */
  .moneyHideToggle {
    display: none !important;
  }

  /* line 124, ../sass/_cart.sass */
  .cartTitle {
    margin: 0;
  }

  /* line 126, ../sass/_cart.sass */
  .cart-d-block {
    display: block !important;
    height: 45px;
    line-height: 45px;
    width: 100%;
    text-align: right;
  }
  /* line 132, ../sass/_cart.sass */
  .cart-d-block .cartItemDelete {
    display: none;
  }
  /* line 134, ../sass/_cart.sass */
  .cart-d-block .cartItemMoney {
    border-top: 1px solid #EAF0ED;
    border-bottom: 1px solid #EAF0ED;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 700;
  }

  /* line 140, ../sass/_cart.sass */
  .cartItem {
    padding-bottom: 8.5px !important;
    padding-top: 30px !important;
  }

  /* line 143, ../sass/_cart.sass */
  .cartItem:first-child {
    padding-top: 0 !important;
  }

  /* line 145, ../sass/_cart.sass */
  .cartItemPic {
    width: 50% !important;
    max-width: 40%;
  }
}
@media screen and (max-width: 480px) {
  /* line 149, ../sass/_cart.sass */
  .cartItemPic {
    max-width: 45%;
  }
}
/* line 2, ../sass/_product.sass */
.productPage .jumbotron {
  background-image: url(../../img/productConcept.jpg);
  position: relative;
}
/* line 5, ../sass/_product.sass */
.productPage .jumbotron .jumbotronText {
  position: absolute;
  right: 40px;
  top: 40px;
  background-image: url(../../img/icon/s_NoReason.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 10%;
  height: 70%;
  border-radius: nonepx;
  background-size: contain;
  background-position: top;
}

/* line 14, ../sass/_product.sass */
.productContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
/* line 19, ../sass/_product.sass */
.productContainer .positioning {
  position: relative;
  min-width: 300px;
}
/* line 22, ../sass/_product.sass */
.productContainer .productSort {
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 24px;
  color: #3F5D45;
  font-weight: 700;
}
/* line 29, ../sass/_product.sass */
.productContainer .productSort .productSortItem {
  height: 65px;
  line-height: 65px;
  box-sizing: border-box;
  border: 1px solid #EAF0ED;
  transition: 0.3s;
  cursor: pointer;
}
/* line 36, ../sass/_product.sass */
.productContainer .productSort .productSortItem:hover {
  background-color: #FFE180;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 1px solid #FFE180;
}
/* line 40, ../sass/_product.sass */
.productContainer .productSort .productSortTitle {
  background-color: #3F5D45;
  height: 65px;
  line-height: 65px;
  color: #fff;
}
/* line 45, ../sass/_product.sass */
.productContainer .productSort .productSortItemActive {
  background-color: #EAF0ED;
}
/* line 47, ../sass/_product.sass */
.productContainer .productSort .productSortItemActive:hover {
  background-color: #EAF0ED;
  color: #3F5D45;
  box-shadow: none;
  cursor: auto;
}

/* line 53, ../sass/_product.sass */
.productListArea {
  width: 100%;
}
/* line 55, ../sass/_product.sass */
.productListArea .productList {
  display: flex;
  flex-wrap: wrap;
}

/* line 58, ../sass/_product.sass */
.productListItem {
  width: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  color: #3F5D45;
  text-align: center;
}
/* line 65, ../sass/_product.sass */
.productListItem .productListPic {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 315px;
}
/* line 68, ../sass/_product.sass */
.productListItem .productListPic_1 {
  background-image: url(../../img/product_Item_1.jpg);
}
/* line 70, ../sass/_product.sass */
.productListItem .productListPic_2 {
  background-image: url(../../img/home_product_1.jpg);
}
/* line 72, ../sass/_product.sass */
.productListItem .productListPic_3 {
  background-image: url(../../img/cart_3.jpg);
}
/* line 74, ../sass/_product.sass */
.productListItem .productListPic_4 {
  background-image: url(../../img/home_product_4.jpg);
}
/* line 76, ../sass/_product.sass */
.productListItem .productListPic_5 {
  background-image: url(../../img/home_product_2.jpg);
}
/* line 78, ../sass/_product.sass */
.productListItem .productListPic_6 {
  background-image: url(../../img/product_item_4.jpg);
}
/* line 81, ../sass/_product.sass */
.productListItem .todayFeatured {
  position: relative;
  width: 36px;
  background-color: #3F5D45;
  color: #F8F9Fa;
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  letter-spacing: 6px;
  box-sizing: border-box;
  font-weight: 700;
  left: 20px;
}
/* line 95, ../sass/_product.sass */
.productListItem .favoriteIcon {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 700;
  transition: 0.3s;
  border-radius: 100px;
  padding: 10px;
  cursor: pointer;
}
/* line 105, ../sass/_product.sass */
.productListItem .favoriteIcon:hover {
  transform: scale(1.2, 1.2);
  color: #ffd430;
}

/* line 108, ../sass/_product.sass */
.productListName, .productListMoney {
  border: 1px solid #EAF0ED;
  font-size: 20px;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

/* line 114, ../sass/_product.sass */
.productListMoney {
  font-weight: 700;
  min-width: 130px;
}

/* line 117, ../sass/_product.sass */
.addToCart {
  font-size: 24px;
  font-weight: 700;
  height: 65px;
  line-height: 65px;
  background-color: #EAF0ED;
  transition: 0.3s;
  cursor: pointer;
}
/* line 125, ../sass/_product.sass */
.addToCart:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  color: #F8F9Fa;
  background-color: #3F5D45;
  transform: scale(1.03, 1.03);
}

/* line 130, ../sass/_product.sass */
.paginationBar {
  justify-content: flex-end;
  margin-bottom: 60px;
}
/* line 134, ../sass/_product.sass */
.paginationBar .paginationBox {
  width: 60px;
  height: 60px;
  border-radius: nonepx;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #EAF0ED;
}
/* line 143, ../sass/_product.sass */
.paginationBar .paginationBoxActive, .paginationBar .paginationBox:hover {
  background-color: #3F5D45;
  color: #F8F9Fa;
}
/* line 146, ../sass/_product.sass */
.paginationBar .paginationBoxActive:hover {
  background-color: #3F5D45 !important;
  color: #F8F9Fa !important;
  box-shadow: none !important;
  transform: translateY(0px) !important;
  cursor: auto;
}
/* line 152, ../sass/_product.sass */
.paginationBar .paginationBox:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #EAF0ED;
  transform: translateY(-2px);
  color: #3F5D45;
}

@media screen and (max-width: 992px) {
  /* line 159, ../sass/_product.sass */
  .jumbotron {
    margin-bottom: 30px !important;
  }

  /* line 161, ../sass/_product.sass */
  .productContainer {
    display: flex;
    flex-direction: column;
  }
  /* line 164, ../sass/_product.sass */
  .productContainer .positioning {
    width: 100% !important;
  }
  /* line 166, ../sass/_product.sass */
  .productContainer .positioning .productSort {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  /* line 170, ../sass/_product.sass */
  .productContainer .positioning .productSort .productSortTitle {
    display: block;
  }
  /* line 172, ../sass/_product.sass */
  .productContainer .positioning .productSort ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  /* line 176, ../sass/_product.sass */
  .productContainer .positioning .productSort ul li {
    width: 100%;
  }

  /* line 178, ../sass/_product.sass */
  .productListArea {
    margin-top: 150px;
  }
  /* line 180, ../sass/_product.sass */
  .productListArea .productListItem {
    width: 48%;
    margin: 1%;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  /* line 186, ../sass/_product.sass */
  .jumbotron {
    margin-bottom: 0px !important;
  }

  /* line 188, ../sass/_product.sass */
  .productListArea {
    margin-top: 340px;
  }
  /* line 190, ../sass/_product.sass */
  .productListArea .productListItem {
    width: 45%;
    margin: 10px auto;
    box-sizing: border-box;
  }
  /* line 194, ../sass/_product.sass */
  .productListArea .productSort {
    font-size: 20px;
  }
  /* line 196, ../sass/_product.sass */
  .productListArea .productSort .productSortTitle {
    display: block;
  }

  /* line 198, ../sass/_product.sass */
  .productSortList {
    flex-direction: column;
  }

  /* line 200, ../sass/_product.sass */
  .productSortItem {
    width: 100%;
  }

  /* line 202, ../sass/_product.sass */
  .paginationBar {
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (max-width: 680px) {
  /* line 207, ../sass/_product.sass */
  .productListItem {
    width: 90% !important;
    margin: 10px auto;
    box-sizing: border-box;
  }

  /* line 211, ../sass/_product.sass */
  .jumbotron {
    height: 75vw;
    min-height: 0px !important;
  }
}
/* line 1, ../sass/_home.sass */
.homePage {
  margin-bottom: 60px;
}
/* line 3, ../sass/_home.sass */
.homePage .jumbotron {
  margin-bottom: 0;
  background-image: url(../../img/home_Concept.jpg);
}
/* line 6, ../sass/_home.sass */
.homePage .blurBoxBar {
  justify-content: center;
  transform: translateY(-80px);
}
/* line 9, ../sass/_home.sass */
.homePage .blurBoxBar .blurBox {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 256px;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
  font-size: 24px;
  letter-spacing: 10px;
  color: #fff;
  background-color: #3F5D45;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
}
/* line 26, ../sass/_home.sass */
.homePage .blurBoxBar .blurBox > p {
  position: relative;
  z-index: 3;
}
/* line 29, ../sass/_home.sass */
.homePage .blurBoxBar .blurBox .blurPic {
  filter: blur(5px) opacity(20%);
  position: absolute;
  z-index: 2;
  transition: 0.3s;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-radius: nonepx;
}
/* line 36, ../sass/_home.sass */
.homePage .blurBoxBar .blurBox:hover {
  background-color: #FFE180;
  color: #3F5D45;
  font-weight: 700;
}
/* line 40, ../sass/_home.sass */
.homePage .blurBoxBar .blurBox:hover .blurPic {
  filter: blur(1px) opacity(20%);
  transform: scale(1.2, 1.2) rotate(10deg);
}
/* line 44, ../sass/_home.sass */
.homePage .blurBoxBar .blurBox_1 .blurPic {
  background-image: url(../../img/home_sheBox_1.jpg);
}
/* line 46, ../sass/_home.sass */
.homePage .blurBoxBar .blurBox_2 {
  border-left: 1px solid #F8F9Fa;
  border-right: 1px solid #F8F9Fa;
}
/* line 49, ../sass/_home.sass */
.homePage .blurBoxBar .blurBox_2 .blurPic {
  background-image: url(../../img/home_sheBox_2.jpg);
}
/* line 52, ../sass/_home.sass */
.homePage .blurBoxBar .blurBox_3 .blurPic {
  background-image: url(../../img/home_sheBox_3.jpg);
}
/* line 54, ../sass/_home.sass */
.homePage .md-imageWellTitle {
  height: 120px;
  width: 100%;
  display: none;
  background-position: center;
  background-size: auto 50%;
  background-repeat: no-repeat;
}
/* line 59, ../sass/_home.sass */
.homePage .md-imageWellTitle_3 {
  background-image: url(../../img/icon/s_NoReason-r.svg);
}
/* line 61, ../sass/_home.sass */
.homePage .imageWell {
  background-color: #EAF0ED;
  height: 420px;
  margin-bottom: 80px;
}
/* line 65, ../sass/_home.sass */
.homePage .imageWell .md-imageWellTitle_1 {
  background-image: url(../../img/icon/s_whyDo-r.svg);
}
/* line 67, ../sass/_home.sass */
.homePage .imageWell .md-imageWellTitle_2 {
  background-image: url(../../img/icon/s_why-r.svg);
}
/* line 70, ../sass/_home.sass */
.homePage .imageWell .imagePic {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 460px;
  width: 48%;
}
/* line 74, ../sass/_home.sass */
.homePage .imageWell .imagePic_1 {
  background-image: url(../../img/home_leftPic.jpg);
}
/* line 76, ../sass/_home.sass */
.homePage .imageWell .imagePic_2 {
  background-image: url(../../img/home_rightPic.jpg);
}
/* line 78, ../sass/_home.sass */
.homePage .imageWell .imageInf {
  background-position: 100% 0%;
  background-size: 20%;
  background-repeat: no-repeat;
  height: 460px;
  width: 52%;
  padding: 8% 5%;
  box-sizing: border-box;
  background-image: url(../../img/icon/l_whyDo.svg);
  writing-mode: vertical-rl;
  display: flex;
  line-height: 36px;
  font-size: 16px;
  color: #8DA291;
  align-items: flex-end;
}
/* line 91, ../sass/_home.sass */
.homePage .imageWell_2 {
  margin-bottom: 40px;
}
/* line 93, ../sass/_home.sass */
.homePage .imageWell_2 .imageInf {
  background-position: 90% 0%;
  background-size: 20%;
  background-repeat: no-repeat;
  padding-left: 0;
  background-image: url(../../img/icon/l_why.svg);
}
/* line 98, ../sass/_home.sass */
.homePage .midSlogan .jumbotron {
  background-position: center;
  background-size: 10%;
  background-repeat: no-repeat;
  background-image: url(../../img/icon/s_NoReason.svg);
}
/* line 101, ../sass/_home.sass */
.homePage .productListArea {
  margin: 0;
}
/* line 103, ../sass/_home.sass */
.homePage .productListArea .container {
  padding: 0;
}

@media screen and (max-width: 768px) {
  /* line 109, ../sass/_home.sass */
  .homePage .blurBoxBar {
    transform: translateY(0);
  }
  /* line 111, ../sass/_home.sass */
  .homePage .imageWell {
    height: auto;
    margin-bottom: 0;
    background-color: #F8F9Fa;
  }
  /* line 115, ../sass/_home.sass */
  .homePage .imageWell > .container {
    display: flex;
    flex-direction: column;
  }
  /* line 118, ../sass/_home.sass */
  .homePage .imageWell > .container .imagePic {
    width: 100%;
    min-height: 250px;
    height: auto;
  }
  /* line 122, ../sass/_home.sass */
  .homePage .imageWell > .container .imageInf {
    background-color: #EAF0ED;
    height: auto;
    writing-mode: horizontal-tb;
    background-image: none;
    padding: 0;
    width: 100%;
    padding: 30px 10%;
  }
  /* line 130, ../sass/_home.sass */
  .homePage .md-imageWellTitle {
    display: block !important;
  }
  /* line 133, ../sass/_home.sass */
  .homePage .midSlogan .jumbotron {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  /* line 138, ../sass/_home.sass */
  .homePage .blurBoxBar .blurBox {
    height: 180px;
    font-size: 20px;
  }
}
/* line 1, ../sass/_general.sass */
nav {
  min-height: 100px;
  display: flex;
  position: relative;
}
/* line 5, ../sass/_general.sass */
nav .hamburgerCheckBox {
  display: none;
}
/* line 7, ../sass/_general.sass */
nav .hamburgerCheckBox:checked ~ .hamburgerBtnList {
  display: block;
}
/* line 9, ../sass/_general.sass */
nav .hamburgerCheckBox:checked ~ .hamburgerBtn {
  background-color: #EAF0ED;
}
/* line 11, ../sass/_general.sass */
nav .hamburgerBtn {
  font-size: 24px;
  display: none;
}
/* line 14, ../sass/_general.sass */
nav .hamburgerBtnList {
  box-shadow: 5px 0 8px rgba(0, 0, 0, 0.2);
  display: none;
  font-size: 24px;
  transition: 0.3s;
  position: absolute;
  top: 100px;
  left: 0px;
  background-color: #fff;
  padding: 0;
  z-index: 100;
  height: 90vh;
}
/* line 27, ../sass/_general.sass */
nav .hamburgerBtnList .hamburgerItem a {
  display: block;
  padding: 20px;
  min-width: 250px;
  text-align: center;
  transition: 0.3s;
}
/* line 33, ../sass/_general.sass */
nav .hamburgerBtnList .hamburgerItem a:hover {
  background-color: #FFE180;
}
/* line 35, ../sass/_general.sass */
nav .hamburgerBtnList .hamburgerItem a:active {
  transform: scale(1.05, 1.05);
}
/* line 37, ../sass/_general.sass */
nav .navLogo {
  width: 100%;
  height: 100%;
  border-radius: nonepx;
}
/* line 39, ../sass/_general.sass */
nav .navLogo a {
  min-width: 250px;
  display: block;
  background-image: url(../../img/icon/logo_dark.svg);
  height: 40px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* line 47, ../sass/_general.sass */
nav .navLogo a h1 {
  text-indent: -9999px;
}
/* line 49, ../sass/_general.sass */
nav .navPageArea {
  height: 100%;
  margin-left: auto;
}
/* line 52, ../sass/_general.sass */
nav .navPageArea .navPageBtn {
  text-decoration: none;
  padding: 10px 30px;
  height: 40px;
  min-width: 32px;
  font-weight: 700;
  margin: 0 2px;
}
/* line 59, ../sass/_general.sass */
nav .navPageArea .navPageBtn:hover {
  border-bottom: 4px solid #3F5D45;
  transition: 0.2s;
}
/* line 62, ../sass/_general.sass */
nav .navPageArea .navPageBtn:active {
  transform: scale(1.05, 1.05);
}
/* line 64, ../sass/_general.sass */
nav .navPageArea .navActive {
  border-bottom: 4px solid #3F5D45;
}
/* line 66, ../sass/_general.sass */
nav .cartBtn {
  padding: 30px 30px 30px 50px;
  font-size: 24px;
  box-sizing: border-box;
  position: relative;
}
/* line 71, ../sass/_general.sass */
nav .cartBtn i {
  transition: 0.3s;
}
/* line 74, ../sass/_general.sass */
nav .cartBtn:hover i {
  color: #ffd430;
  transform: scale(1.2, 1.2) rotate(-360deg);
}
/* line 77, ../sass/_general.sass */
nav .cartBtn:hover:after {
  display: block;
  opacity: 1;
}
/* line 81, ../sass/_general.sass */
nav .cartBtn:hover:active i {
  transform: scale(0.9, 0.9);
}
/* line 83, ../sass/_general.sass */
nav .cartBtn:after {
  position: absolute;
  display: none;
  opacity: 0;
  content: "There are 3 items in the shopping cart.";
  line-height: 50px;
  text-align: center;
  top: 100px;
  right: 0;
  height: 150px;
  width: 250px;
  z-index: 100;
  font-size: 20px;
  transition: 0.3s;
  box-sizing: border-box;
  padding: 20px;
  background-color: #EAF0ED;
}

/* line 100, ../sass/_general.sass */
.inputIcon {
  height: 100%;
  padding: 16px 20px;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  outline: none;
}

/* line 107, ../sass/_general.sass */
.footerEmailArea {
  background-color: #3F5D45;
  color: #fff;
  min-height: 116px;
  padding: 30px 0;
  box-sizing: border-box;
}
/* line 113, ../sass/_general.sass */
.footerEmailArea p {
  font-size: 24px;
}
/* line 115, ../sass/_general.sass */
.footerEmailArea .footerEmailLogo {
  width: 40px;
  height: 40px;
  border-radius: nonepx;
  margin-right: 20px;
  background-size: cover;
  background-image: url(../../img/icon/logo-light.svg);
}
/* line 120, ../sass/_general.sass */
.footerEmailArea .emailBar {
  height: 56px;
  color: #3F5D45;
}
/* line 123, ../sass/_general.sass */
.footerEmailArea .emailBar > input {
  height: 56px;
  border: none;
  outline: none;
  padding: 0;
  background: #F8F9Fa;
  width: 100%;
}
/* line 130, ../sass/_general.sass */
.footerEmailArea .emailIcon {
  padding: 20px;
  background: #F8F9Fa;
}
/* line 133, ../sass/_general.sass */
.footerEmailArea .submit {
  height: 100%;
  padding: 16px 24px;
  background-color: #FFE180;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
}
/* line 141, ../sass/_general.sass */
.footerEmailArea .submit:hover {
  background-color: #ffd430;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* line 144, ../sass/_general.sass */
.footerEmailArea .submit:active {
  transform: scale(1.03, 1.03);
}

/* line 146, ../sass/_general.sass */
.footerInfArea {
  background-color: #EAF0ED;
  padding: 30px 0;
  color: #3F5D45;
}
/* line 150, ../sass/_general.sass */
.footerInfArea .footerInf {
  background-image: url(../../img/icon/s_DessertDay.svg);
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: 100% 0;
  min-height: 340px;
}
/* line 156, ../sass/_general.sass */
.footerInfArea .footerInf .footerInfLogo {
  background-image: url(../../img/icon/logotype_s_dark.svg);
  background-repeat: no-repeat;
  background-size: 180px auto;
  height: 100%;
  min-height: 180px;
  background-position: 0 30%;
}
/* line 163, ../sass/_general.sass */
.footerInfArea .footerInf > p {
  line-height: 24px;
}
/* line 165, ../sass/_general.sass */
.footerInfArea .footerInf .communityBar {
  padding-top: 30px;
}
/* line 167, ../sass/_general.sass */
.footerInfArea .footerInf .communityBar .communityIcon {
  width: 40px;
  height: 40px;
  border-radius: nonepx;
  cursor: pointer;
  margin-right: 8px;
}
/* line 171, ../sass/_general.sass */
.footerInfArea .footerInf .communityBar .communityIcon_1 {
  background-image: url(../../img/icon/icon@.svg);
}
/* line 173, ../sass/_general.sass */
.footerInfArea .footerInf .communityBar .communityIcon_2 {
  background-image: url(../../img/icon/iconfb.svg);
}
/* line 175, ../sass/_general.sass */
.footerInfArea .footerInf .comInf {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}
/* line 179, ../sass/_general.sass */
.footerInfArea .footerTril {
  display: flex;
}

/* line 182, ../sass/_general.sass */
.jumbotron {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 60px;
  min-height: 460px;
  justify-content: center;
}

/* line 187, ../sass/_general.sass */
.moneyHideToggle {
  min-width: 140px;
}

/* line 191, ../sass/_general.sass */
input[type="checkbox"] {
  transform: translateY(2px);
}

@media screen and (max-width: 992px) {
  /* line 197, ../sass/_general.sass */
  .navPageArea {
    display: none !important;
  }

  /* line 199, ../sass/_general.sass */
  .navLogo {
    background-position: center center;
    justify-content: center;
  }

  /* line 202, ../sass/_general.sass */
  .hamburgerBtn {
    display: block !important;
    padding: 30px;
  }
  /* line 205, ../sass/_general.sass */
  .hamburgerBtn:hover {
    cursor: pointer;
  }
  /* line 208, ../sass/_general.sass */
  .hamburgerBtn:active i {
    transform: scale(1.05, 1.05);
  }
}
@media screen and (max-width: 768px) {
  /* line 211, ../sass/_general.sass */
  .container {
    padding: 0;
  }

  /* line 213, ../sass/_general.sass */
  .footerContainer {
    flex-direction: column;
  }

  /* line 215, ../sass/_general.sass */
  .emailBar {
    margin-top: 30px;
  }

  /* line 218, ../sass/_general.sass */
  .navLogo a {
    min-width: 0;
    background-position: center;
  }

  /* line 221, ../sass/_general.sass */
  .footerInfArea {
    padding: 30px;
  }
}
@media screen and (max-width: 680px) {
  /* line 225, ../sass/_general.sass */
  nav {
    min-height: 84px;
  }
  /* line 228, ../sass/_general.sass */
  nav .navLogo a {
    min-width: 150px;
  }

  /* line 231, ../sass/_general.sass */
  .navLogo a {
    background-image: url(../../img/icon/logotype_s_dark.svg) !important;
    background-position: center;
    background-size: auto 18px;
    height: 20px !important;
  }
}
@media screen and (max-width: 480px) {
  /* line 238, ../sass/_general.sass */
  .footerInf {
    background-image: none !important;
    min-height: 200px !important;
  }
  /* line 241, ../sass/_general.sass */
  .footerInf .footerInfLogo {
    height: 105px;
  }

  /* line 243, ../sass/_general.sass */
  .footerTril {
    flex-direction: column;
  }
  /* line 245, ../sass/_general.sass */
  .footerTril .comInf {
    margin: 0 !important;
    align-items: flex-start;
    padding-top: 20px;
  }

  /* line 249, ../sass/_general.sass */
  .footerInfLogo {
    min-height: 70px !important;
    background-position: auto 50%;
  }

  /* line 252, ../sass/_general.sass */
  .cartBtn {
    padding: 20px !important;
  }
}
/* line 24, ../sass/main.sass */
body, html {
  font-family: Microsoft JhengHei;
  color: #3F5D45;
}

/* line 30, ../sass/main.sass */
a:link, a:visited, a:active {
  text-decoration: none;
  color: #3F5D45 !important;
}

/* line 33, ../sass/main.sass */
.flex-start {
  align-items: flex-start;
}

/* line 35, ../sass/main.sass */
.flex-wrap {
  flex-wrap: wrap;
}

/* line 37, ../sass/main.sass */
.w-50 {
  width: 50%;
}

/* line 39, ../sass/main.sass */
.w-100 {
  width: 100% !important;
}

/* line 41, ../sass/main.sass */
.h-100 {
  height: 100% !important;
}

/* line 43, ../sass/main.sass */
.container {
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
}

/* line 49, ../sass/main.sass */
.footerContainer {
  max-width: 720px;
}

/* line 51, ../sass/main.sass */
.d-flex {
  display: flex;
  align-items: center;
}

/* line 54, ../sass/main.sass */
.flex-between {
  justify-content: space-between;
}

/* line 56, ../sass/main.sass */
.flex-column {
  flex-direction: column;
}

/* line 58, ../sass/main.sass */
.row-reverse {
  flex-direction: row-reverse;
}
